* {
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

    --light: 200;
    --medium: 400;
    --bold: 600;
}

header, section {
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;     
    background-color: var(--VeryLightGray);
}

h1 {
    color: var(--VeryDarkBlue);
    font-weight: var(--light);
}

h1 span {
    font-weight: var(--bold);
}

p {
    color: var(--GrayishBlue);
    font-weight: var(--medium);
}


header {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
}

.container__item {
    background-color: white;
    padding: 20px;
    margin: 15px;
    width: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05),
        0 6px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.container__item h3 {
    margin: 0;
}

.container__item p {
    font-size: 0.8em;
    margin: 1em 0 2em
}

.container__item img {
    display: block;
    margin-left: auto;
}

.container__item--push {
    transform: translateY(50%);
}
.border--top {
    border-top: 2px solid;
}

.border__top--red {
    border-top-color: var(--Red);   
}


.border__top--cyan {
    border-top-color: var(--Cyan);   
}


.border__top--orange {
    border-top-color: var(--Orange);   
}

.border__top--blue {
    border-top-color: var(--Blue);
}

@media screen and (max-width: 1155px) {
    .container__item--push {
        transform: translateY(0%);
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.footer {
    margin: 0 auto;
}